# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://user:pass@host:5432/db"
EXPRESS_SESSIONS_SECRET="thisismysecrctekey"

OIDC_REDIRECT_URL="http://localhost:4000/oidcCallback"
OIDC_CLIENT_ID="not included"
OIDC_CLIENT_SECRET="not included"
OIDC_AUTHORIZATION_URL="https://www.linkedin.com/oauth/v2/authorization"
OIDC_ACCESS_TOKEN_URL="https://www.linkedin.com/oauth/v2/accessToken"
OIDC_PROFILE_URL="https://api.linkedin.com/v2/userinfo"

# These are required by the postgres connector:
PGHOST="host"
PGPASSWORD="pass"
PGPORT="port"
PGUSER="user"
PGDATABASE="db"
